.theme-dark {
    color: #000000;
}

.theme-light {
    color: #ffffff;
}

.article {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba($color: $primary-dark, $alpha: 1);
}

.search-box {
    color: $dark-text-sf;
    box-shadow:none !important;
    border-radius: 1% !important;
    border: 1px solid $secondary-dark;
    background-color: $secondary-dark !important;
}

.form-control:focus {
    color: $dark-text-sf;
    border-color: rgba($color: $primary, $alpha: 1);
}

.list-group-item {
    background-color: $secondary-dark;
}

.list-group-item:hover {
    color: $dark-text-em;
    background-color: $secondary-highlight;
}

.article.card {
    height: 100%;
    padding: 15px;
    color: $dark-text-sf !important;
    border-radius: 15px;
    text-decoration: none!important;
    background-color: $secondary-dark;
    border-color: $secondary-dark !important;
    box-shadow: 0px 6px 3px 0px $secondary-dark;
    
    .card-footer {
        color: $dark-text-sf !important;
        font-size: 14px;
        margin: 0 -15px -15px -15px;
        padding: 15px 35px;
    }
}

.article.card:hover {
    background-color: #303138;
    box-shadow: 0px 6px 3px 0px $secondary-dark;
    border-color: rgba($color: #1f2025fb, $alpha: 1);
}

.article {
    .badge {
        color: black;
        border-color: black;
        font-weight: bold;
        font-size: 80%;
        background-color: rgba($color: $primary, $alpha: .65);
    }

    .article-metadata {
        font-size: 16px;
        margin-top: -6px;
    }

    footer {
        font-size: 10px;
        color: $dark-text-sf;
        text-decoration: underline;
        text-decoration-color: rgba($color: $success, $alpha: .75);
        text-align: right;
        margin-top: 4em;
        margin-right: 2em;
    }
    
    h1 {
        text-align: center;
    }

    h2 { 
        margin-top: 32px; 
        text-align: center;
    }

    h3 {
        text-align: center;
    }
    
    hr { 
        background: $accent; 
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;    
        margin: 1rem auto;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: 1rem;
        width: 100%;
        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    
    a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not([class^="image-"]) {
        display: inline-block;
        text-decoration: none;
        
        &:hover { color: $primary; }
        
        &::after {
            content: '';
            display: block;
            height: .15em;
            margin-top: -.15em;
            width: 0;
            background: $primary;
            transition: width .35s;
        }

        &:hover::after { width: 100%; }
    }

    pre {
        color: #e4f0fb;
        background: #232937;
        border: 1px solid rgba($color: $accent, $alpha: .5);
 
        font-family: monospace;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1.6em;
        max-width: 100%;
        padding: 1em 1.5em;
        display: block;
        page-break-inside: avoid;
        overflow: auto;
        word-wrap: break-word;
    }

    code.highlighter-rouge {
        background-color: $light;
        color: $dark;
        border-radius: 3px;
        margin: 0;
        padding: .2em .65em;
    }

    blockquote {
        border-left: .25em solid $primary;
        color: $secondary;
        padding: 0 1em;
    }
      
    table {
        display: block;
        overflow-x: auto;
        margin: 1rem 0;

        td {
            border: 1px solid #ddd;
            padding: 8px 16px;
        }

        th {
            @extend td;
            padding-top: 12px;
            padding-bottom: 12px;
            font-weight: 500;
            text-align: left;
            background-color: $primary;
            color: white;
        }

        tr:nth-child(even) {
            background-color: $light;
        }
        
    }
}

.center-video {
    text-align:center;
}

.itch-embeds {
    iframe {
        width: 100%; 
    }
}

/*Styling for all itch io content embeds.*/
// .itch-embeds {
//     height: 0;
//     text-align: center;
//     position: relative;
//     padding-top: 10%;
//     padding-bottom: 10%;
//     margin-bottom: 15px;
//     margin-left: auto;
//     margin-right: auto;
//     box-shadow: 0px 0px 10px #0000004e;
    
//     iframe {
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         position: absolute;
//     }
// }

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin rgba($color: $primary-dark, $alpha: 1) solid;
}


// .overlay {
//     position: fixed;
//     display: none;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba (0,0,0,0.5);
//     z-index: 2;
//     cursor: pointer;
// }

// .overlay-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   height: 100%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   padding: 12px 24px;
//   border: none;
//   cursor: pointer;
//   text-align: center;
// }

// .overlay{   
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 100%;
//     height: 100%;
//     transform: translate(-50%, -50%);
//     -ms-transform: translate(-50%, -50%);
//     padding: 12px 24px;
//     text-align: center;
//     transition: 0.5s ease;
//     opacity: 0;
//     background-color: blueviolet;
// }

// .overlay-container:hover .overlay {
//     opacity: 1;
// }

// .overlay-image {

// }

.button-image-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.button-image-container img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.5s ease;
}

//https://www.w3schools.com/howto/howto_css_button_on_image.asp#:~:text=How%20TO%20-%20Button%20on%20Image%201%20Add,to%20position%20the%20button.%20...%203%20W3.CSS%20Tutorial
.button-image-container:hover img {
    border-radius: 10px;
    transition: 0.5s ease;
}

.image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.image-button:hover {
    background-color: rgba(0,0,0,0.15);
    border-radius: 10px;
}

.image-button:hover img {
    border-radius: 10px;
    background-color: black;
}

.iframe-container-4-3 {
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    margin-bottom: 20px;
    background: url(/assets/images/infinity-loader.svg) center no-repeat;
    box-shadow: 0px 0px 10px #0000004e;
}

.iframe-container-4-3 iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pdf-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 105%;
    position: relative;
    margin-bottom: 20px;
    background: url(/assets/images/infinity-loader.svg) center no-repeat;
}

.pdf-container iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 0;
    width: 80%;
    height: 100%;
    position: absolute;
}

// .iframe-container-3-2 {
//     display: flex;
//     justify-content: center;
//     overflow: hidden;
//     padding-bottom: 105%;
//     position: relative;
//     margin-bottom: 20px;
//     background: url(/assets/images/infinity-loader.svg) center no-repeat;
// }

// .iframe-container-3-2 iframe {
//     display: block;
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     border: 0;
//     width: 80%;
//     height: 100%;
//     position: absolute;
// }

.iframe-container-16-9 {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 20px;
    background: url(/assets/images/infinity-loader.svg) center no-repeat;
    box-shadow: 0px 0px 10px #0000004e;
}

.iframe-container-16-9 iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.doc {
    width: 100%;
    height: 100%;
    background: url(/assets/images/infinity-loader.svg) center no-repeat;

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px 0px 10px #0000004e;
        color: #272831;
    }
}

/*Styling for all video content embeds.*/
.video-display {
    height: 0;
    position: relative;
    margin-bottom: 2%;
    padding-bottom: 56.25%;	
    box-shadow: 0px 0px 10px #0000004e;

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}


/*Styling for all sketchfab embeds.*/
.sketchfab-embed-wrapper {
    height: 0;
    text-align: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;	
    box-shadow: 0px 0px 15px #0000004e;

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}