$primary:   #FFDC69;
$secondary: #82FFE6;
$success:   #82FFE6;
$info:      #d5ad28;
$warning:   #B5A265;
$danger:    #dc3545;
$accent:    #FA89FF;
$light:     #282930;
$dark:      #343a40;

$background-primary: #1b1c22;
$background-secondary: #303138;

$brand-1: #49B39D;
$brand-2: #FA89FF;
$brand-3: #82FFE6;
$brand-4: #FFDC69;
$brand-5: #B5A265;

//#6c757d

$primary-dark: #1b1c22;
$secondary-dark: #282930;
$secondary-highlight: #303138;
$dark-accent: rgb(74, 171, 209);

$dark-text-em: rgba(255, 255, 255, .87);
$dark-text-md: rgba(255, 255, 255, .75);
$dark-text-sf: rgba(255, 255, 255, .60);
$dark-text-db: rgba(255, 255, 255, .45);

$rounded-borders: 25px;